<!DOCTYPE html>
<html>
  <head>
    <title>Emikki</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/application.css" type="text/css">
  </head>
  <body> 
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img alt="brand" src="https://raw.githubusercontent.com/ALRW/dayAsADev/master/images/glyphicon.png"></a>
      </div>
      <h4 class="navbar-text">Emikki</h4>
      
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Women <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Men</a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gifts <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Garden</a></li>
            <li><a href="#">Kids</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Easter</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Sale!</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="Submit" class="btn btn-default">Go</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Contact Us</a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Profile <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">My Orders</a></li>
            <li><a href="#">My Favourites</a></li>
            <li><a href="#">Recommended</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Settings</a></li>
        </ul>
          </li>
          </div>
        </form>
      </div>
     </div>
    </nav>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="jumbotron">
          <div class="about">
            <h1>Emikki</h1>
             <h2>See our new Spring/Summer '18 collection</h2>
          </div>
        </div>        
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  
   <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="jumbotron">
          <div class="about">
            <p>
            Welcome to the launch of our website, with a brand new look and feel helping you find what you're looking for faster. We've gone for a minimalist take on the legendary (but cluttered) ASOS design, which we feel offers an enhanced user experience. Although we highly doubt you will, should you encounter any issues whilst using the site, please direct yourself to the 'Contact Us' button (if it works). Thanks for visiting!
            </p>
            <p><i>An EByr and NPatz creation</i></p>
          </div>
        </div>        
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  
  </body>
</html>
